.field {
    font-family: "Arial";
    margin: auto;
    background: rgb(224, 224, 224);
    width: max-content;
    padding: 50px 50px 60px 50px;
}

div ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    font-size: 14px;
}

ul li {
    color: #ffffff;
    background: linear-gradient(to bottom, #0684b4, #1e69ac);
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 5px 5px 0 0;
}
li.active {
    color: #000000;
    background: #ffffff;
    box-shadow: -1px -1px 1px 0 #bababa,
    1px -1px 1px 0 #bababa;
}
li:hover {
    background-color: #eee;
}

.invisible {
    display: none;
}
.visible {
    display: block;
    /*width: 487px;*/
    width: 437px;
    height: 250px;
    padding: 15px 10px 15px 15px;
    background: white;
    box-shadow: 0 1px 1px 1px #bababa;
    border-radius: 0 5px 5px 5px;
}

.profile {
    font-size: 12px;
}

.profile-interaction {
    float: left;
    margin-right: 20px;
}

.profile-information {
    margin-right: 20px;
    padding: 4px 0;
}

button {
    margin: 6px 0;
}

.user-photo {
    height: 169px;
    width: 132px;
    background-image: url("../images/vitalya-gora.png");
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 0 #bababa;
}

.add-friend {
    height: 30px;
    width: 132px;
    color: #ffffff;
    background: linear-gradient(to bottom, #e78101, #e75200);
    box-shadow: 0 1px 1px 1px #bababa;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-friend:hover {
    background: #e78101;
}

.add-friend:active {
    box-shadow: 0 1px 1px 1px #cbcbcb;
    background: linear-gradient(to bottom, #e75200, #e78101);
}

.add-friend:active, .add-friend:focus {
    outline-style: none;
}

.user-name {
    font-size: 24px;
}

.user-hometown {
    color: #bababa;
}

.user-info {
    display: flex;
    margin-top: 24px;
    margin-right: 56px;
}

.user-info-field {
    margin-right: 28px;
}

.user-info-text, .user-text {
    font-weight: bold;
}

.user-text {
    margin-top: 21px;
}

.user-e-mail {
    text-decoration: underline;
    color: #1675af;
}

.user-info-data {
    margin-bottom: 10px;
    width: max-content;
}

.user-hobby {
    display: flex;
    margin-top: 6px;
}

.user-hobby-elem {
    color: #1675af;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    margin-right: 3px;
    padding: 5px 9px;
    font-size: 12px;
}

.user-hobby-elem:hover {
    color: #000000;
    background: #f3f3f3;
    cursor: pointer;
}



.friends {
    font-size: 12px;
    padding-right: 10px;
}

.friends-list {
    float: left;
    width: 410px;
}

.friend-item {
    float: left;
    box-sizing: border-box;
    width: 205px;
    height: max-content;
    margin-bottom: 31px;
}

.friend-item a {
    text-decoration: underline;
    font-weight: bold;
    color: #1675af;
    height: 16px;
}

.friend-hometown {
    margin-top: 4px;
    font-size: 11px;
    height: 30px;
}

.friend-item img {
    float: left;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    margin-right: 15px;
    border-radius: 3px;
    border: none;
}
#photo1 { background-image: url("../images/lew-bronstein.jpg"); }
#photo2 { background-image: url("../images/nachodka-kapital.jpg"); }
#photo3 { background-image: url("../images/yandex-petrenko.jpg"); }
#photo4 { background-image: url("../images/uspech-vosmozhnostey.jpg"); }
#photo5 { background-image: url("../images/inna-nashlas.jpg"); }
#photo6 { background-image: url("../images/alla-podolskaya.jpg"); }

.friend-status {
    visibility: hidden;
}
.friend-status-online {
    visibility: visible;
    font-size: 10px;
    color: #6da566;
    font-style: italic;
}

.scrollbar {
    float: right;
    width: 5px;
    height: inherit;
    background: #e75200;
}